.connectMainContainer{
    /* border: 1px solid green; */
    height: 100vh;
    width: 100vw;
    /* background-color: rgba(26, 146, 66, 0.486); */
    display: flex;
    
}


.connectLeft{
    width: 40%;
    background-image: linear-gradient( #ffd44796, #00000048);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connectLeft >h1{
    font-size: 5rem;
    color: #fff;
  font-family: 'Poppins', sans-serif;

}

.connectRight >h1{
    font-size: 3rem;
    color: #fff;
  font-family: 'Poppins', sans-serif;
  display: none;

}

.connectRight{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: #e930492d; */
    position: relative;
}

.errorMessage{
    color: rgba(255, 0, 0, 0.548);
    /* margin: 11px 180px 0 0; */
    position: absolute;
    bottom: 15px;
}


@media only screen and (max-width: 979px) {
    /* For mobile phones: */
    .connectLeft{
        display: none;
    }
    .connectRight{
        width: 100%;
        background-image: linear-gradient( #00000048, #ffd44796);

    }

    .connectRight >h1{
        display: flex;
    }
    
  }