.connectMainContainer{
    /* border: 1px solid green; */
    height: 100vh;
    width: 100vw;
    /* background-color: rgba(26, 146, 66, 0.486); */
    display: flex;
}


.connectLeft{
    width: 40%;
    background-image: linear-gradient( #ffd44796, #00000048);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connectLeft >h1{
    font-size: 5rem;
    color: #fff;
}

.connectRight{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: #e930492d; */
}

.errorMessage{
    color: rgba(255, 0, 0, 0.548);
    margin: 5px 190px 0 0;
}