.modalCon{
    height: 100vh;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 50000;
    display: flex;
    /* border: 1px solid green; */
}

.modalCon > div{
    width: 50%;
    height: 100%;
    /* border: 1px solid green; */
}


.modalLeft{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    /* padding-bottom: 30px; */
    background-image: linear-gradient( rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.7)), url("../../assets/josh.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.modalLeftInnerCon{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalTop > h5{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.modalTop > img {
    height: 200px;
    /* border: 1px solid green; */
}
.modalRight{
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalRight > h1 {
    font-size: 100px;
    margin: 0;
}

.modalRight > p{
    width: 70%;
    /* border: 1px solid green; */
    border-radius: 7px;
    /* height: 200px; */
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

}

.backButton{
    font-size: 20px;
    background: #ffd446;
    color: #fff;
    font-weight: bolder;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    align-self: flex-start;
    justify-self: start;
    /* margin-top: 20px;
    margin-left: 20px; */
    cursor: pointer;
}


.nameWrapper > h1, h5{
    margin: 0;
    color: white;
}

.nameWrapper > h1{
    font-size: 40px;
}

.nameWrapper > h5{
    font-size: 20px;
    padding-top: 6px;
}


@media only screen and (max-width: 979px) {
    /* For mobile phones: */

    .modalCon{
        flex-wrap: wrap;
        /* border: 1px solid green; */
    }
    .modalLeft{
        width: 100% !important;
        height: 100% !important;
        background-attachment: fixed;

    }
    .modalRight{
        width: 100% !important;
        height: max-content !important;
        padding-bottom: 50px;
        padding-top: 30px;
    }

    .modalRight > p{
        width: 75%;
        padding: 20px;
    }
    
  }